{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!-- partial:index.partial.html -->
{% block content %}
<div class='dashboard'>

    <div class='dashboard-app'>
        <div class='dashboard-content'>
            <div class='container'>
                <div class='card'>
                    <div class='card-header'>
                        <h1>ADD FOLLOW-UP</h1>
                        <br>
                        <div>
                            <form method="POST" action ="" enctype="multipart/form-data" novalidate>
                                {% csrf_token %}
                                <div class="card-body" style="background-color:#f7f7f7;">
                                    <div class="row">
                                        <div class="col-md-12">{{ form.date_of_follow_up | as_crispy_field }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">{{ form.psa|as_crispy_field }}</div>
                                        <div class="col-md-6">{{ form.creatinine|as_crispy_field }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">{{ form.wbc|as_crispy_field }}</div>
                                        <div class="col-md-6">{{ form.rbc|as_crispy_field }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">{{ form.hemoglobin|as_crispy_field }}</div>
                                        <div class="col-md-6">{{ form.hematocrit|as_crispy_field }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">{{ form.platelet|as_crispy_field }}</div>
                                        <div class="col-md-6">{{ form.lactate_hydrogenase|as_crispy_field }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">{{ form.alkaline_phosphatase|as_crispy_field }}</div>
                                        <div class="col-md-6">{{ form.sgpt|as_crispy_field }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">{{ form.sgot|as_crispy_field }}</div>
                                        <div class="col-md-6">{{ form.bilirubins|as_crispy_field }}</div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Salivary Gland Status</h4>
                                </div>
                                <div class="card-body" style="background-color:#f7f7f7;">
                                    <div class="row">
                                        <div class="col-md-12">{{ form.salivary_gland_status|as_crispy_field }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">{{ form.salivary_gland_image|as_crispy_field }}</div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Bone Metastasis Status</h4>
                                </div>
                                <div class="card-body" style="background-color:#f7f7f7;">
                                    <div class="row">
                                        <div class="col-md-12">{{ form.bone_metastasis_status|as_crispy_field }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">{{ form.bone_scan_image|as_crispy_field }}</div>
                                        <div class="col-md-6">{{ form.renal_scintigraphy|as_crispy_field }}</div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="card mb-4">
                                <div class="card-header">
                                    <span><h2>GAPSMA</h2></span>
                                </div>                                
                                <div class="card-body" style="background-color:#f7f7f7;">
                                    <div class="row mb-3">
                                        <div class="col-md-12">{{ form.gapsma_choices|as_crispy_field }}</div>
                                        <div class="col-md-12">{{ form.gapsma_img|as_crispy_field }}</div>
                                    </div>
                            
                                    <!-- Prostate Section -->
                                    <div class="lesion-section mb-4">
                                        <h5>Prostate</h5>
                                        <div class="row">
                                            <div class="col-md-6">{{ form.gapsma_prostate_lesion_status|as_crispy_field }}</div>
                                            <div class="col-md-6">{{ form.gapsma_prostate_location|as_crispy_field }}</div>
                                        </div>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.gapsma_prostate_suv|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.gapsma_prostate_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
                                        
                                        <div class="lesion-section mb-4">
                                            <h5>Lymph Node</h5>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.gapsma_lymph_node_lesion_status|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.gapsma_lymph_node_location|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                    <div class="col-md-6">{{ form.gapsma_lymph_node_suv|as_crispy_field }}</div>
                                                    <div class="col-md-6">{{ form.gapsma_lymph_node_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
    
                                            
                                        <div class="lesion-section mb-4">
                                                <h5>Bone</h5>
                                            <div class="row">
                                                    <div class="col-md-6">{{ form.gapsma_bone_lesion_status|as_crispy_field }}</div>
                                                    <div class="col-md-6">{{ form.gapsma_bone_location|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                    <div class="col-md-6">{{ form.gapsma_bone_suv|as_crispy_field }}</div>
                                                    <div class="col-md-6">{{ form.gapsma_bone_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
                                            
                                        <div class="lesion-section mb-4">
                                                <h5>Brain</h5>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.gapsma_brain_lesion_status|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.gapsma_brain_location|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.gapsma_brain_suv|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.gapsma_brain_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
                                            
                                        <div class="lesion-section mb-4">
                                            <h5>Lungs</h5>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.gapsma_lung_lesion_status|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.gapsma_lung_location|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.gapsma_lung_suv|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.gapsma_lung_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
    
                                        <div class="lesion-section mb-4">
                                            <h5>Liver</h5>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.gapsma_liver_lesion_status|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.gapsma_liver_location|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.gapsma_liver_suv|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.gapsma_liver_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="card-header">
                                        <span><h2>FDG PET/CT</h2></span>
                                    </div>
                                    <div class="card-body" style="background-color:#f7f7f7;">
                                        <div class="row mb-3">
                                            <div class="col-md-12">{{ form.fdgpetct_img|as_crispy_field }}</div>
                                        </div>
                                    
                                        <div class="lesion-section mb-4">
                                            <h5>Prostate</h5>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_prostate_lesion_status|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_prostate_location|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_prostate_suv|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_prostate_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
    
                                        <div class="lesion-section mb-4">
                                            <h5>Lymph Node</h5>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_lymph_node_lesion_status|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_lymph_node_location|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_lymph_node_suv|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_lymph_node_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
    
                                        <div class="lesion-section mb-4">
                                            <h5>Bone</h5>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_bone_lesion_status|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_bone_location|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_bone_suv|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_bone_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
    
                                        <div class="lesion-section mb-4">
                                            <h5>Brain</h5>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_brain_lesion_status|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_brain_location|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_brain_suv|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_brain_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
    
                                        <div class="lesion-section mb-4">
                                            <h5>Lungs</h5>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_lung_lesion_status|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_lung_location|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_lung_suv|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_lung_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
    
                                        <div class="lesion-section mb-4">
                                            <h5>Liver</h5>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_liver_lesion_status|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_liver_location|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_liver_suv|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_liver_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
    
                                    </div>
    
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h4>Assessment and Plan</h4>
                                        </div>
                                        <div class="card-body" style="background-color:#f7f7f7;">
                                            <div class="row">
                                                <div class="col-md-12">{{ form.assessment|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">{{ form.plan|as_crispy_field }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                
                                    <div class="mt-4">
                                        <button class="btn btn-success" type="submit">Save Changes</button>
                                        <a href="{% url 'patientDetails' id=patient.id %}" class="btn btn-secondary">Cancel</a>
                                    </div>
                                </form>
                </div>
            </div>        
        </div>
    </div>
</div>
{% endblock content %}
