{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!-- partial:index.partial.html -->
{% block content %}
<div class='dashboard'>

    <div class='dashboard-app'>
        <div class='dashboard-content'>
            <div class='container'>
                <div class='card'>
                    <div class='card-header'>
                        <h1>EDIT FOLLOW-UP</h1>
                        <br>
                        <div>
                            <form method="POST" action ="" enctype="multipart/form-data" novalidate>
                                {% csrf_token %}
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">{{ form.date_of_follow_up | as_crispy_field }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">{{ form.psa|as_crispy_field }}</div>
                                        <div class="col-md-6">{{ form.creatinine|as_crispy_field }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">{{ form.wbc|as_crispy_field }}</div>
                                        <div class="col-md-6">{{ form.rbc|as_crispy_field }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">{{ form.hemoglobin|as_crispy_field }}</div>
                                        <div class="col-md-6">{{ form.hematocrit|as_crispy_field }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">{{ form.platelet|as_crispy_field }}</div>
                                        <div class="col-md-6">{{ form.lactate_hydrogenase|as_crispy_field }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">{{ form.alkaline_phosphatase|as_crispy_field }}</div>
                                        <div class="col-md-6">{{ form.sgpt|as_crispy_field }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">{{ form.sgot|as_crispy_field }}</div>
                                        <div class="col-md-6">{{ form.bilirubins|as_crispy_field }}</div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Salivary Gland Status</h4>
                                </div>
                                <div class="card-body" style="background-color:#f7f7f7;">
                                    <div class="row">
                                        <div class="col-md-12">{{ form.salivary_gland_status|as_crispy_field }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">{{ form.salivary_gland_image|as_crispy_field }}</div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Bone Metastasis Status</h4>
                                </div>
                                <div class="card-body" style="background-color:#f7f7f7;">
                                    <div class="row">
                                        <div class="col-md-12">{{ form.bone_metastasis_status|as_crispy_field }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">{{ form.bone_scan_image|as_crispy_field }}</div>
                                        <div class="col-md-6">{{ form.renal_scintigraphy|as_crispy_field }}</div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="card mb-4">
                                <div class="card-header">
                                    <span><h2>GAPSMA</h2></span>
                                </div>                                
                                <div class="card-body" style="background-color:#f7f7f7;">
                                    <div class="row mb-3">
                                        <div class="col-md-12">{{ form.gapsma_choices|as_crispy_field }}</div>
                                        <div class="col-md-12">{{ form.gapsma_img|as_crispy_field }}</div>
                                    </div>
                            
                                    <!-- Prostate Section -->
                                    <div class="lesion-section mb-4">
                                        <h5>Prostate</h5>
                                        <div class="row">
                                            <div class="col-md-6">{{ form.gapsma_prostate_lesion_status|as_crispy_field }}</div>
                                            <div class="col-md-6">{{ form.gapsma_prostate_location|as_crispy_field }}</div>
                                        </div>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.gapsma_prostate_suv|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.gapsma_prostate_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
                                        
                                        <div class="lesion-section mb-4">
                                            <h5>Lymph Node</h5>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.gapsma_lymph_node_lesion_status|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.gapsma_lymph_node_location|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                    <div class="col-md-6">{{ form.gapsma_lymph_node_suv|as_crispy_field }}</div>
                                                    <div class="col-md-6">{{ form.gapsma_lymph_node_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
    
                                            
                                        <div class="lesion-section mb-4">
                                                <h5>Bone</h5>
                                            <div class="row">
                                                    <div class="col-md-6">{{ form.gapsma_bone_lesion_status|as_crispy_field }}</div>
                                                    <div class="col-md-6">{{ form.gapsma_bone_location|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                    <div class="col-md-6">{{ form.gapsma_bone_suv|as_crispy_field }}</div>
                                                    <div class="col-md-6">{{ form.gapsma_bone_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
                                            
                                        <div class="lesion-section mb-4">
                                                <h5>Brain</h5>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.gapsma_brain_lesion_status|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.gapsma_brain_location|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.gapsma_brain_suv|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.gapsma_brain_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
                                            
                                        <div class="lesion-section mb-4">
                                            <h5>Lungs</h5>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.gapsma_lung_lesion_status|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.gapsma_lung_location|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.gapsma_lung_suv|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.gapsma_lung_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
    
                                        <div class="lesion-section mb-4">
                                            <h5>Liver</h5>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.gapsma_liver_lesion_status|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.gapsma_liver_location|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.gapsma_liver_suv|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.gapsma_liver_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="card-header">
                                        <span><h2>FDG PET/CT</h2></span>
                                    </div>
                                    <div class="card-body" style="background-color:#f7f7f7;">
                                        <div class="row mb-3">
                                            <div class="col-md-12">{{ form.fdgpetct_img|as_crispy_field }}</div>
                                        </div>
                                    
                                        <div class="lesion-section mb-4">
                                            <h5>Prostate</h5>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_prostate_lesion_status|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_prostate_location|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_prostate_suv|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_prostate_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
    
                                        <div class="lesion-section mb-4">
                                            <h5>Lymph Node</h5>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_lymph_node_lesion_status|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_lymph_node_location|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_lymph_node_suv|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_lymph_node_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
    
                                        <div class="lesion-section mb-4">
                                            <h5>Bone</h5>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_bone_lesion_status|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_bone_location|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_bone_suv|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_bone_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
    
                                        <div class="lesion-section mb-4">
                                            <h5>Brain</h5>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_brain_lesion_status|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_brain_location|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_brain_suv|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_brain_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
    
                                        <div class="lesion-section mb-4">
                                            <h5>Lungs</h5>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_lung_lesion_status|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_lung_location|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_lung_suv|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_lung_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
    
                                        <div class="lesion-section mb-4">
                                            <h5>Liver</h5>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_liver_lesion_status|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_liver_location|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">{{ form.fdgpetct_liver_suv|as_crispy_field }}</div>
                                                <div class="col-md-6">{{ form.fdgpetct_liver_size|as_crispy_field }}</div>
                                            </div>
                                        </div>
    
                                    </div>
    
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h4>Assessment and Plan</h4>
                                        </div>
                                        <div class="card-body" style="background-color:#f7f7f7;">
                                            <div class="row">
                                                <div class="col-md-12">{{ form.assessment|as_crispy_field }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">{{ form.plan|as_crispy_field }}</div>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="mt-4">
                                        <button class="btn btn-success" type="submit">Save Changes</button>
                                        <a href="{% url 'patientDetails' slug=patient.slug %}" class="btn btn-secondary">Cancel</a>                                    </div>
                                </form>
                </div>
            </div>        
        </div>
    </div>
</div>
{% block javascript %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Function to handle field toggling
        function toggleLesionFields(statusField, locationField, suvField, sizeField) {
            const isPresent = statusField.value === 'Present';
            const locationInput = document.querySelector(`[name="${locationField}"]`);
            const suvInput = document.querySelector(`[name="${suvField}"]`);
            const sizeInput = document.querySelector(`[name="${sizeField}"]`);
            
            // Disable/enable fields
            locationInput.disabled = !isPresent;
            suvInput.disabled = !isPresent;
            sizeInput.disabled = !isPresent;
            
            // Clear values when disabled
            if (!isPresent) {
                locationInput.value = '';
                suvInput.value = '';
                sizeInput.value = '';
            }
            
            // Update form-group appearance
            const locationDiv = locationInput.closest('.form-group');
            const suvDiv = suvInput.closest('.form-group');
            const sizeDiv = sizeInput.closest('.form-group');
            
            if (!isPresent) {
                locationDiv.style.opacity = '0.5';
                suvDiv.style.opacity = '0.5';
                sizeDiv.style.opacity = '0.5';
            } else {
                locationDiv.style.opacity = '1';
                suvDiv.style.opacity = '1';
                sizeDiv.style.opacity = '1';
            }
        }
    
        // Setup event listeners for both GAPSMA and FDG PET/CT sections
        const allLesionSections = {
            gapsma: [
                {
                    status: 'gapsma_prostate_lesion_status',
                    location: 'gapsma_prostate_location',
                    suv: 'gapsma_prostate_suv',
                    size: 'gapsma_prostate_size'
                },
                {
                    status: 'gapsma_lymph_node_lesion_status',
                    location: 'gapsma_lymph_node_location',
                    suv: 'gapsma_lymph_node_suv',
                    size: 'gapsma_lymph_node_size'
                },
                {
                    status: 'gapsma_bone_lesion_status',
                    location: 'gapsma_bone_location',
                    suv: 'gapsma_bone_suv',
                    size: 'gapsma_bone_size'
                },
                {
                    status: 'gapsma_brain_lesion_status',
                    location: 'gapsma_brain_location',
                    suv: 'gapsma_brain_suv',
                    size: 'gapsma_brain_size'
                },
                {
                    status: 'gapsma_lung_lesion_status',
                    location: 'gapsma_lung_location',
                    suv: 'gapsma_lung_suv',
                    size: 'gapsma_lung_size'
                },
                {
                    status: 'gapsma_liver_lesion_status',
                    location: 'gapsma_liver_location',
                    suv: 'gapsma_liver_suv',
                    size: 'gapsma_liver_size'
                }
            ],
            fdgpetct: [
                {
                    status: 'fdgpetct_prostate_lesion_status',
                    location: 'fdgpetct_prostate_location',
                    suv: 'fdgpetct_prostate_suv',
                    size: 'fdgpetct_prostate_size'
                },
                {
                    status: 'fdgpetct_lymph_node_lesion_status',
                    location: 'fdgpetct_lymph_node_location',
                    suv: 'fdgpetct_lymph_node_suv',
                    size: 'fdgpetct_lymph_node_size'
                },
                {
                    status: 'fdgpetct_bone_lesion_status',
                    location: 'fdgpetct_bone_location',
                    suv: 'fdgpetct_bone_suv',
                    size: 'fdgpetct_bone_size'
                },
                {
                    status: 'fdgpetct_brain_lesion_status',
                    location: 'fdgpetct_brain_location',
                    suv: 'fdgpetct_brain_suv',
                    size: 'fdgpetct_brain_size'
                },
                {
                    status: 'fdgpetct_lung_lesion_status',
                    location: 'fdgpetct_lung_location',
                    suv: 'fdgpetct_lung_suv',
                    size: 'fdgpetct_lung_size'
                },
                {
                    status: 'fdgpetct_liver_lesion_status',
                    location: 'fdgpetct_liver_location',
                    suv: 'fdgpetct_liver_suv',
                    size: 'fdgpetct_liver_size'
                }
            ]
        };
    
        // Initialize and set up event listeners for all sections
        Object.values(allLesionSections).flat().forEach(section => {
            const statusField = document.querySelector(`[name="${section.status}"]`);
            if (statusField) {
                // Initial state
                toggleLesionFields(statusField, section.location, section.suv, section.size);
                
                // Add change event listener
                statusField.addEventListener('change', function() {
                    toggleLesionFields(this, section.location, section.suv, section.size);
                });
            }
        });
    });
    </script>
{% endblock %}
{% endblock content %}
